- var lists = ["Game Expo","Play Beyond","Education","Game Expo Summit"] 
- var cards = [{title:"THE GAMEEXPO SUMMIT POWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE 2 GAMEEXPO SUMMIT POWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE 3 GAMEEXPO SUMMIT POWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE 4 GAMEEXPO SUMMIT POWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"}]
mixin listTab(list)
  each val,index in list
    li(class=`white lama-bold size-16 ${index===lists.length-1?'active':''}`)= val
mixin cardHappening(cards)
  each val,index in cards
    div(class=`cardHappening ${index===0?'active':''}`)
      div.content
       h3(class="lama-bold size-31 lightYellow text-uppercase pdtop-20")= val.title
       p(class="lama-reg size-16 white txtLHeight lightLtrSpacing mtop-20 mrb-20")= val.text1
       p(class="lama-reg size-16 white  lightLtrSpacing mrb-20")= val.text2
       include ../general-components/learnmore.pug
      img(src=`${val.img}`)
.whatsHappening.drkBluebkground.paddingSections.overlayBottomTop(style='background-image: url(images/happen-section.png)')
  .line
  .container-def
    h2(class="h2Heading pdtop-50 text-center mrb-50 showItems") what’s happening this def?
    .tabContainer.showItems
      ul(class="ultab d-flex ")
        +listTab(lists)
      div.cardsContainer
        +cardHappening(cards)