- var lists = ["Game Expo","Play Beyond","Education","Game Expo Summit"] 
- var cards = [{title:"THE GAMEEXPO SUMMITPOWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE GAMEEXPO SUMMITPOWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE GAMEEXPO SUMMITPOWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"},{title:"THE GAMEEXPO SUMMITPOWERED BY PG CONNECTS",text1:"In collaboration with the esteemed PG Connects team, the upcoming Dubai GameExpo Summit is set to unfold over two days at the Dubai Esports and Game Festival 2024. Anticipating the participation of 1,800+ visitors and 20 indie developers, the event aims to foster discussions among gaming leaders.",text2:"With the innovative 'MeetToMatch' system facilitating over 2,000 meetings, the B2B event will provide a platform to explore emerging trends in AI, Web3, the Metaverse, development techniques, monetization, and the burgeoning MENA market. Stay tuned for groundbreaking insights and dynamic networking opportunities.",img:"images/happeningCard.png"}]
mixin listTab(list)
  each val,index in list
    li(class=`white lama-bold size-16 ${index===lists.length-1?'active':''}`)= val
mixin cardHappening(cards)
  each val in cards
    .cardHappening
      h3(class="lama-bold size-31 lightYellow text-uppercase")= val.title
      p(class="lama-reg size-16 white")= val.text1
      p(class="lama-reg size-16 white")= val.text2
      img(src=`${val.img}`)
.whatsHappening.drkBluebkground.paddingSections(style='background-image: url(images/happening.png)')
  .container-def
    h2(class="h2Heading pdtop-50") what’s happening this def?
    .tabContainer
      ul(class="ultab d-flex ")
        +listTab(lists)
      div.cardsContainer
        +cardHappening(cards)
